.mainHeader {
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(32, 32, 32);
}
.mainHeader h1{
    font-size: 48px;
    font-family:sans-serif;
    background: linear-gradient(90deg,#e6b1ff, #cd61ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}